* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button { cursor: pointer; }

header {
    background: #405;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

#header-top, #header-bottom {
    display: flex;
    align-items: center;
}

/* #header-top {

} */

#header-top div{
    display: flex;
}

#header-top input{
    display: flex;
}

#header-top input, #header-top select {
    outline: none;
}

#header-bottom {
    margin-left: 6px;
}

.input-select {
    display: flex;
    flex-direction: column;
}

.input-select input,
.input-select select {
    height: 28px;
    border: 1px solid #222;
    border-right: none;
    font-size: 16px;
}

#font-family input,
#font-size input{
    padding: 0 6px;
    position: absolute;
}

#font-family input {
    width: 121px;
}

#font-family select {
    width: 140px;
}

#font-size input {
    width: 61px;
}

#font-size select {
    width: 80px;
}

hr {
    margin: 0 8px;
    border-color: rgba(249, 249, 249, 0.6);
    height: 24px;
    width: 1px;
    border-width: 0 1px 0 0;
}

#change-to-bold,
#change-to-italic,
#change-to-underline,
#change-color {
    width: 24px;
    height: 24px;
    font-family: Verdana, 'Times New Roman', sans-serif;
    border-radius: 2px;
    background: transparent;
    border: none;
    color:#f9f9f9;
    font-size: 16px;
    outline: none;
}

#change-to-bold:hover,
#change-to-italic:hover,
#change-to-underline:hover,
#change-color:hover {
    background: rgba(249, 249, 249, 0.1);
}

#change-to-bold {
    font-weight: bold;
}

#change-to-italic {
    font-style: italic;
}

#change-to-underline {
    text-decoration: underline;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 16px 0;
    background: rgba(68, 0, 85, 0.1);
}

#text-field {
    width: 720px;
    min-height: 994px;
    padding: 72px; 
    outline: none;

    background:#f9f9f9;
    border: 1px solid #444;
    border-radius: 1px;
}

footer {
    padding: 12px 0;
    background: #405;
    text-align: center;
}

footer p {
    color:#f9f9f9;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;
}

@media (max-width: 720px) {
    header {
        flex-direction: column;
    }

    hr {
        margin: 0 22px;
    }

    #header-top div + div {
        /* margin-left: 22px; */
    }

    #header-bottom{
        margin-top: 22px;
    }

    #header-bottom {
        margin-left: 0;
    }

    .input-select input,
    .input-select select {
        height: 32px;
    }

    #font-family input,
    #font-size input{
        padding: 0 6px;
        position: absolute;
    }

    #font-family input {
        width: 141px;
    }

    #font-family select {
        width: 170px;
    }

    #font-size input {
        width: 61px;
    }

    #font-size select {
        width: 90px;
    }

    #change-to-bold,
    #change-to-italic,
    #change-to-underline,
    #change-color {
        width: 28px;
        height: 28px;
        font-size: 18px;
    }

    #text-field {
        width: 100%;
        margin: 0 6px;
        padding: 36px; 
    }
}