* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, select, button { outline: none; }

button { cursor: pointer; }

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    align-items: center;
    background: #405;
}

#header-top, #header-bottom {
    display: flex;
    align-items: center;
}

#header-top div{
    display: flex;
}

.input-select input,
.input-select select {
    height: 28px;
    border: 1px solid #222;
    border-right: none;
    font-size: 16px;
}

#font-family input,
#font-size input{
    position: absolute;
    padding: 0 6px;
}

#font-family input { width: 121px; }

#font-family select { width: 140px; }

#font-size input { width: 61px; }

#font-size select { width: 80px; }

#header-bottom { margin-left: 6px; }

hr {
    width: 1px;
    height: 24px;
    margin: 0 8px;
    border-color: rgba(249, 249, 249, 0.4);
    border-width: 0 1px 0 0;
}

.changeStyleButton {
    width: 24px;
    height: 24px;
    font-family: 'Times New Roman';
    border-radius: 2px;
    background: transparent;
    border: none;
    color:#f9f9f9;
    font-size: 18px;
    
    transition: color 0.4s;
}

.changeStyleButton:hover { color: #f9f9f9ab; }

#change-to-bold { font-weight: bold; }

#change-to-italic { font-style: italic; }

#change-to-underline { text-decoration: underline; }

#change-color { cursor: pointer; }

main {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 16px 0;
    background: rgba(68, 0, 85, 0.1);
}

#text-field {
    width: 720px;
    min-height: 994px;
    padding: 72px; 
    outline: none;

    background:#f9f9f9;
    border: 1px solid #444;
    border-radius: 1px;
}

footer {
    padding: 12px 0;
    background: #405;
    text-align: center;
}

footer p {
    color:#f9f9f9;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;
}

@media (max-width: 720px) {
    header { flex-direction: column; }

    .input-select input,
    .input-select select { height: 32px; }

    #font-family input { width: 141px; }

    #font-family select { width: 170px; }

    #font-size input { width: 61px; }

    #font-size select { width: 90px; }

    #header-bottom {
        margin-top: 22px;
        margin-left: 0;
    }

    hr { margin: 0 22px; }

    .changeStyleButton {
        width: 28px;
        height: 28px;
        font-size: 20px;
    }

    #text-field {
        width: 100%;
        margin: 0 6px;
        padding: 36px; 
    }
}